/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#logo {
  img {
    height: 80px;
  }
}

#post-content {
  .media-image {
    margin: 1rem;

    @include breakpoint($mob) {
      clear: right;
      float: right;
      width: 48.3871%;
      max-width: 300px;
      margin: 2.1rem 0 0 2.7rem;
    }
  }
}

.toc-menu .menu-title {
  font-size: $h2-font-size;
  line-height: 3.6rem;
}

.search-form {
  #edit-submit-search {
    &:focus {
      outline: 3px solid #fae029;
      outline-offset: -2px;
      overflow: hidden;
    }

    &:hover {
      background-color: $black;
    }
  }
}
