/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#logo {
  margin-top: 1.5rem;

  a {
    &:focus {
      background: none;
      border-bottom: none;
      outline: .3rem dashed #949494;
      outline-offset: 1.2rem;
      display: block;
    }
  }

  img {
    height: 80px;
  }
}

#post-content {
  .media-image {
    margin: 1rem;

    @include breakpoint($mob) {
      clear: right;
      float: right;
      width: 48.3871%;
      max-width: 300px;
      margin: 2.1rem 0 0 2.7rem;
    }
  }
}

.toc-menu .menu-title {
  font-size: $h2-font-size;
  line-height: 3.6rem;
}

.search-form {
  #edit-submit-search {
    &:focus {
      outline: 3px solid #fae029;
      outline-offset: -2px;
      overflow: hidden;
    }

    &:hover {
      background-color: $black;
    }
  }
}

.region-primary-menu .menu_wrapper {
  @include breakpoint($tab) {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: $charcoal;
    //padding: 1rem 0;
  }
}

#main-menu {
  font-family: $heading-font;

  .menu {
    .is-active {
      background: $menu-item-hover;
      border-bottom-color: $brand-primary;
      color: #fff;
    }
  }

  .menu-item {
    border-right: 1px solid #fff;
    font-size: $p-font-size;

    @media screen and (max-width: $tab) {
      border-right: none;
    }

    &:last-child {
      border-right: 0;
    }

    &.open {
      .menu-toggle-btn {
        background-color: $brand-primary;
        font-weight: normal;
      }
    }
  }

  .menu-link {
    color: $charcoal;
    border-bottom: 5px solid transparent;

    @media screen and (max-width: $tab) {
      text-align: center;
    }

    &:hover {
      color: #fff;
      border-bottom-color: $brand-primary;
    }

    &:focus {
      background-color: #fae029;
      border-bottom-color: $black;
      color: $black;
    }
  }

  .menu-main_sub {
    background: $charcoal;

    .menu-item {
      @media screen and (max-width: $tab) {
        background: $charcoal;
      }
    }

    .menu-link {
      @media screen and (max-width: $tab) {
        text-align: center;
      }

      &.is-active {
        background: lighten($charcoal, 10%);
        font-weight: normal;
      }
    }
  }
}

#footer .footer-menu li {
  padding-left: 0;
  font-size: 1.4rem;

  @include breakpoint($mob) {
    display: inline-block;
    padding: 0 .8rem 0 0;
    line-height: 1.8rem;
    margin-right: .5rem;
  }

  a {
    display: block;
  }
}

.node-type-publication #content #post-content a.file-link[href] {
  padding-left: 6.5rem;
  margin-bottom: 1.6rem;

  &:hover {
    margin-bottom: 1.5rem;
  }

  &:last-child {
    margin-bottom: 2.4rem;
  }
}
