/*
 * @file
 * Provides very specific styling for uregni theme.
 */
@import 'init/index';

// Theme
//
// Theme rules are similar to state rules in that they describe how components or modules or layouts might look in a
// given context / scenario, however the difference here is that is it is a very specific context and unlikely to be
// re-usable.
//
// Weight: -2
//
// Style guide: theme

// Entities
//
// Provides very specific styling for entities / content types.
//
// Weight: 1
//
// Style guide: theme.entities

.front {
  .content-sidebar-wrap {
    p {
      margin-bottom: 30px;
    }

    .home-intro p,
    p:first-child {
      font-size: $h3-font-size;
      line-height: 30px;
    }
  }

  .region-sidebar-second {
    #block-pauljohnson {
      img {
        max-width: 80%;
      }
    }
  }

  .image-caption {
    padding: 9px 0;
    margin: 0 0 1.8rem 0;
    font-size: 1.8rem;

    .home-name p {
      line-height: 28px;
      font-weight: 600;
      margin-bottom: 0;
    }

    .home-role p {
      font-family: $heading-font;
      line-height: 21px;
      //color: $brand-primary;
    }
  }

  .front-banner {
    max-width: 1160px;
    margin: 0 auto 40px;

    img {
      height: 180px;
      width: 100%;
      object-fit: cover;
    }
  }

  h1 {
    margin-top: 0;
  }
}

.search-result {
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 1.5rem;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 0;
  }
}

.path-news {
  .search-page {
    @include breakpoint($lap) {
      width: 65%;
    }

    .main-content {
      @include breakpoint($lap) {
        float: none;
      }
    }
  }
}

.path-publications,
.path-evidence {
  .search-page {
    .sidebar-first-layout {
      padding-left: 0;
    }

    @include breakpoint($lap) {
      .sidebar-first-layout {
        width: 30%;
      }

      .main-content {
        width: 65%;
      }
    }

    .views-exposed-form {
      p {
        margin-bottom: 0;
      }
    }

    h2 {
      margin-top: 0;
    }

    .metaListItem {
      margin-left: 2rem;
    }
  }
}

.board-members {
  display: flex;
  flex-flow: column;

  @include breakpoint($mob) {
    flex-flow: wrap;
    justify-content: space-between;
  }

  .views-row {
    display: flex;
    background: #e6e6e6;
    margin-bottom: 2%;
    padding: 1rem;

    @include breakpoint($mob) {
      flex-basis: 49%;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        /* IE10+ specific styles go here */
        flex-basis: 46%;
      }
    }

    .group-left {
      flex-basis: 40%;

      .field-member-image {
        max-width: 10rem;
      }
    }

    .group-right {
      flex-basis: 60%;
    }
  }

  h3 {
    margin-top: 0;
    padding-top: 3rem;
  }
}
