<link rel="icon" type="image/png" href="/sites/uregni/themes/uregni_theme/images/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/sites/uregni/themes/uregni_theme/images/favicons/favicon.svg" />
<link rel="shortcut icon" href="/sites/uregni/themes/uregni_theme/images/favicons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/sites/uregni/themes/uregni_theme/images/favicons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Uregni" />
<link rel="manifest" href="/sites/uregni/themes/uregni_theme/images/favicons/site.webmanifest" />
<meta name="apple-mobile-web-app-title" content="uregni">
<meta name="application-name" content="uregni">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

