/*
 * @file
 * Provides very specific styling for usi theme.
 */
@import 'init/index';

// Theme
//
// Theme rules are similar to state rules in that they describe how components or modules or layouts might look in a
// given context / scenario, however the difference here is that is it is a very specific context and unlikely to be
// re-usable.
//
// Weight: -2
//
// Style guide: theme

.board-members {
  display: flex;
  flex-flow: column;

  @include breakpoint($mob) {
    flex-flow: wrap;
    justify-content: space-between;
  }

  .views-row {
    display: flex;
    background: #e6e6e6;
    margin-bottom: 2%;
    padding: 1rem;

    @include breakpoint($mob) {
      flex-basis: 49%;
    }

    .group-left {
      flex-basis: 40%;

      .field-member-image {
        max-width: 10rem;
      }
    }

    .group-right {
      flex-basis: 60%;
    }
  }

  h3 {
    margin-top: 0;
    padding-top: 3rem;
  }
}
