/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

.sidebar-second-layout {
  position: relative;
  overflow: hidden;
  background: #f2f2f2;
  padding: 1rem;
  margin-top: 0;
}

@media screen and (max-width: $lap) {
  .front .sidebar-second-layout {
    background: none;
  }
}

#block-sidemenu {
  background: none;
  border: none;
  margin: 0 0 2rem 0;
  padding: 0;

  h2 {
    margin-bottom: 0;
  }

  ul {
    margin: 0 1.6rem;
    padding: 0 1rem;

    .menu {
      margin: .5rem 1rem 0 .5rem;

      li {
        list-style: circle;
      }
    }
  }

  li span.active,
  a {
    @include adjust-font-size-to(16px);
  }
}

#main-menu .menu .menu-item .active {
  background: $brand-secondary;
  border-color: $brand-secondary;
}


#footer {
 .container-wrap {
    display: block;
  }

  #footer-menu {
    margin: 4% auto;

    .menu {
      list-style: none;

      li.menu-item {
        padding: 0 .8rem 0 0;
        margin-right: .5rem;
        @include adjust-font-size-to(16px);

        a {
          margin: 0;
        }
      }
    }
  }
}

a.btn {
  background: $brand-primary;
}

#bottom-area {
  @include breakpoint($tab) {
    display: flex;
    justify-content: space-between;
  }

  .column {
    padding: 0;
    margin: 0;
    text-align: center;
    float: none;

    @media screen and (max-width: $tab) {
      width: 100%;
    }
  }

  .block > h2 {
    text-align: center;
    letter-spacing: -1px;
    color: #444;

    a {
      color: #444;
    }
  }

  .block .fas {
    background: #f3f3f3;
    color: #656565;
    font-size: 5.5rem;
    border-radius: 100%;
    height: 11rem;
    margin: 2rem auto;
    width: 11rem;
    display: block;
    padding-top: 2.4rem;
  }
}

.block > h2 {
  @include adjust-font-size-to(20px);
}

