/*
 * @file
 * Overrides to base text styles
 */
@import '../init/index';

a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

#block-views-block-board-member-board-members-block {
  h2 {
      @include responsive-typo-map($h2-text);
      margin: 0;
      padding-left: 0;
    }
}
