/*
 * @file
 * Provides the layout styles for content output from field_photo for any entity.
 */

@import "../../init/index";
.field-photo {

  @include breakpoint($mob) {
    float: right;
    max-width: 250px;
    margin: 0 0 1rem 1rem;
  }

  img {
    width: 100%;
  }
}
