/*
 * @file
 * Provides the layout styles for content output from field_member_image for any entity.
 */
@import "../../init/index";

.field-member-image {
  float: right;
  margin-left: 2rem;
}

.board-members {
  .field-member-image {
    float: left;
    padding-right: 3rem;
    margin-left: 0;
  }
}
