/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#block-sidemenu {
  background: $offwhite;
  border-top: 5px solid $charcoal;
  padding: 1rem;

  @include breakpoint($lap) {
    margin-top: 2rem;
  }

  h2 {
    @include responsive-typo-map($h2-text);
    margin: .5rem 0 1rem;
    padding: 0;
  }
}

.published-date {
  font-weight: bold;
}

.board-members {
  display: flex;
  flex-flow: column;

  @include breakpoint($mob) {
    flex-flow: wrap;
    justify-content: space-between;
  }

  .views-row {
    display: flex;
    background: #e6e6e6;
    margin-bottom: 2%;
    padding: 1rem;

    @include breakpoint($mob) {
      flex-basis: 49%;
    }

    .group-left {
      flex-basis: 40%;

      .field-member-image {
        max-width: 10rem;
      }
    }

    .group-right {
      flex-basis: 60%;
    }
  }

  h3 {
    margin-top: 0;
    padding-top: 3rem;
  }
}
