_core:
  default_config_hash: KApD8y1HSPpUdBIgyeu1YitM-ekmxSLsWm1nb6NTdD0
mirror_operations:
  'view scheduled transition': update
  'add scheduled transition': update
  'reschedule scheduled transitions': update
automation:
  cron_create_queue_items: true
bundles:
  -
    entity_type: node
    bundle: faq
  -
    entity_type: node
    bundle: feature
  -
    entity_type: node
    bundle: html_document
  -
    entity_type: node
    bundle: news
  -
    entity_type: node
    bundle: page
  -
    entity_type: node
    bundle: publication_page
  -
    entity_type: node
    bundle: staff_member
  -
    entity_type: node
    bundle: webform
message_transition_latest: 'Scheduled transition: transitioning latest revision from [scheduled-transitions:from-state] to [scheduled-transitions:to-state]'
message_transition_historical: 'Scheduled transition: copied revision #[scheduled-transitions:from-revision-id] and changed from [scheduled-transitions:from-state] to [scheduled-transitions:to-state]'
message_transition_copy_latest_draft: 'Scheduled transition: reverted [scheduled-transitions:latest-state] revision #[scheduled-transitions:latest-revision-id] back to top'
message_override: false
retain_processed:
  enabled: false
  duration: 0
  link_template: ''
