/*
 * @file
 * Defines the layout code for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/2_layout/index';

#sidebar-second {
  padding: 0;
}

.container {
  padding: 0 15px;
  @include breakpoint($tab) {
    margin: 0 auto;
    max-width: $max-grid-width;
    padding: 0 20px;
  }
}
