/*
 * @file
 * Defines the layout code for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/2_layout/index';

.content-sidebar-wrap {
  padding: 0 1rem;
}

.front {
  .container-wrap {
    margin-bottom: 0;
  }
}

.path-node {
  .main-content {
    float: none;
  }
}

#header {
  margin: 5px auto;

  @media screen and (max-width: $tab) {
    margin-bottom: 0;
  }

  .top_left {
    min-height: 135px;
  }
}

.dialog-off-canvas-main-canvas {
  #footer,
  .region-slideshow {
    max-width: $max-grid-width;
  }
}

#footer-area {
  display: flex;
  gap: 50px;
  color: $text;

  .column {
    width: 34.3%;
    float: none;
  }
}
