{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
<div class="pcsp-image-map">
  <img src="/sites/pcsps/themes/pcsps_theme/images/ni-councils-names.jpg" width="775" height="628" alt="Location map of PCSPs" usemap="#map">
  <map name="map">
    <area shape="poly" coords="542, 20, 521, 19, 525, 15, 527, 12, 538, 15, 549, 17, 545, 30, 542, 35" href="/causeway-coast-and-glens-pcsp" alt="Causeway Coast and Glens">
    <area shape="poly" coords="88, 309, 82, 313, 87, 320, 82, 324, 90, 330, 98, 336, 105, 336, 116, 340, 125, 345, 136, 338, 139, 344, 182, 329, 199, 327, 203, 331, 215, 313, 233, 299, 240, 295, 242, 285, 255, 286, 266, 279, 291, 280, 322, 268, 333, 265, 352, 269, 347, 259, 350, 251, 342, 247, 324, 253, 309, 235, 316, 222, 315, 206, 303, 201, 302, 176, 288, 176, 280, 150, 284, 140, 293, 143, 284, 139, 261, 140, 246, 148, 233, 149, 222, 166, 223, 190, 211, 200, 209, 219, 210, 230, 193, 256, 182, 268, 183, 283, 179, 292, 156, 292, 132, 304, 126, 310, 118, 309, 106, 304, 101, 292" href="/derry-city-and-strabane-pcsp" alt=" Derry City and Strabane">
    <area shape="poly" coords="341, 274, 328, 272, 299, 284, 292, 289, 264, 287, 259, 297, 245, 291, 245, 305, 236, 305, 231, 312, 223, 315, 211, 333, 208, 342, 185, 335, 173, 342, 148, 349, 123, 362, 110, 373, 102, 385, 99, 388, 67, 390, 61, 384, 52, 391, 45, 409, 32, 414, 24, 418, 12, 421, 19, 430, 15, 436, 47, 470, 56, 468, 70, 496, 95, 499, 98, 539, 109, 542, 147, 541, 147, 550, 160, 563, 164, 569, 176, 572, 179, 576, 190, 573, 196, 580, 216, 563, 224, 572, 242, 583, 236, 565, 252, 557, 255, 566, 251, 579, 257, 578, 262, 562, 261, 543, 282, 532, 290, 532, 289, 519, 288, 513, 275, 503, 278, 488, 278, 481, 261, 488, 252, 467, 237, 466, 228, 429, 247, 425, 255, 420, 264, 423, 275, 412, 288, 411, 304, 399, 323, 389, 332, 375, 338, 351, 324, 296, 327, 288, 345, 282" href="/fermanagh-and-omagh-pcsp" alt="Fermanagh and Omagh">
    <area shape="poly" coords="370, 478, 380, 465, 383, 436, 410, 445, 414, 420, 420, 417, 430, 395, 442, 395, 428, 375, 435, 358, 447, 355, 459, 337, 457, 325, 448, 291, 456, 282, 469, 267, 474, 244, 456, 190, 445, 201, 429, 195, 414, 207, 402, 196, 395, 207, 390, 237, 379, 240, 363, 237, 355, 258, 360, 266, 352, 276, 343, 287, 331, 292, 334, 320, 340, 330, 343, 343, 347, 351, 340, 370, 340, 383, 323, 396, 318, 406, 307, 403, 301, 413, 283, 420, 259, 429, 234, 433, 235, 442, 241, 449, 241, 462, 253, 463, 266, 484, 277, 476, 292, 479, 301, 470, 301, 461, 308, 456, 322, 438, 360, 461, 361, 471, 370, 473" href="/mid-ulster-pcsp" alt="Mid Ulster">
    <area shape="poly" coords="598, 461, 591, 451, 586, 440, 564, 429, 551, 429, 549, 432, 532, 407, 538, 399, 530, 390, 520, 366, 515, 384, 513, 400, 507, 405, 489, 406, 479, 394, 462, 393, 433, 401, 428, 417, 418, 429, 413, 448, 387, 444, 386, 461, 377, 483, 370, 485, 374, 501, 370, 508, 382, 512, 387, 532, 398, 543, 407, 546, 408, 548, 415, 540, 429, 546, 438, 544, 444, 532, 460, 523, 470, 526, 492, 505, 537, 507, 560, 512, 566, 524, 579, 512, 590, 513, 590, 497, 577, 481, 590, 474" href="/armagh-city-banbridge-and-craigavon-pcsp" alt="Armagh City, Banbridge and Craigavon">
    <area shape="poly" coords="710, 507, 716, 504, 735, 477, 727, 453, 722, 449, 703, 458, 696, 450, 698, 443, 704, 435, 704, 415, 689, 421, 659, 410, 653, 400, 634, 421, 627, 451, 617, 456, 604, 462, 593, 481, 584, 482, 596, 494, 598, 508, 600, 517, 594, 519, 580, 519, 570, 531, 556, 522, 544, 514, 520, 512, 506, 511, 494, 511, 480, 521, 472, 533, 462, 526, 446, 540, 433, 552, 439, 569, 434, 580, 431, 610, 442, 617, 448, 609, 459, 612, 467, 607, 471, 607, 477, 600, 489, 599, 490, 608, 510, 600, 507, 581, 518, 580, 520, 590, 531, 581, 541, 586, 559, 588, 562, 599, 594, 621, 618, 599, 620, 599, 640, 578, 643, 542, 636, 529, 665, 512, 682, 510, 697, 508, 702, 518" href="/newry-mourne-and-down-pcsp" alt="Newry, Mourne and Down">
    <area shape="poly" coords="589, 347, 581, 340, 571, 345, 546, 353, 544, 357, 533, 360, 527, 367, 536, 393, 547, 399, 540, 410, 548, 420, 554, 425, 567, 421, 596, 443, 595, 448, 606, 453, 615, 448, 622, 450, 620, 439, 636, 409, 652, 396, 653, 381, 660, 370, 659, 363, 668, 353, 665, 340, 657, 349, 649, 362, 635, 367, 626, 378, 610, 385, 602, 376, 590, 357" href="/lisburn-and-castlereagh-pcsp" alt="Lisburn and Castlereagh">
    <area shape="poly" coords="753, 393, 745, 370, 744, 354, 733, 345, 730, 321, 714, 309, 708, 310, 703, 312, 682, 317, 673, 310, 645, 327, 647, 335, 656, 340, 666, 336, 672, 345, 672, 359, 663, 367, 665, 373, 655, 389, 664, 407, 683, 411, 685, 416, 701, 411, 721, 409, 724, 417, 723, 440, 732, 449, 742, 470, 746, 466, 748, 453, 749, 444, 755, 444, 752, 422, 761, 413, 760, 395" href="/ards-and-north-down-pcsp" alt="Ards and North Down">
    <area shape="poly" coords="654, 344, 643, 336, 641, 331, 621, 321, 614, 326, 606, 329, 599, 337, 601, 341, 595, 346, 595, 366, 592, 371, 598, 372, 605, 370, 611, 377, 622, 378, 630, 362, 634, 363, 642, 362, 653, 355" href="/belfast-pcsp" alt="Belfast">
    <area shape="poly" coords="634, 305, 627, 295, 627, 267, 604, 266, 594, 256, 584, 260, 563, 253, 553, 254, 540, 264, 514, 261, 506, 260, 499, 268, 475, 267, 479, 286, 499, 290, 534, 279, 545, 292, 522, 338, 532, 338, 536, 351, 562, 345, 563, 338, 570, 341, 581, 337, 594, 341, 607, 319, 612, 323, 618, 322, 616, 315, 629, 325" href="/antrim-and-newtownabbey-pcsp" alt="Antrim and Newtownabbey">
    <area shape="poly" coords="640, 301, 662, 288, 681, 276, 684, 248, 674, 230, 663, 225, 661, 230, 672, 243, 661, 247, 652, 237, 648, 217, 626, 190, 616, 174, 600, 166, 605, 133, 574, 170, 564, 169, 552, 148, 524, 161, 515, 160, 514, 174, 506, 171, 495, 177, 486, 181, 495, 189, 486, 202, 465, 203, 480, 250, 473, 262, 487, 262, 498, 263, 511, 254, 543, 258, 549, 248, 576, 249, 577, 255, 598, 251, 603, 260, 608, 261, 631, 263, 634, 280, 631, 290" href="/mid-and-east-antrim-pcsp" alt="Mid and East Antrim">
    <area shape="poly" coords="558, 144, 565, 160, 571, 164, 576, 159, 600, 134, 583, 134, 580, 120, 585, 103, 584, 78, 569, 64, 555, 54, 535, 66, 496, 47, 483, 55, 467, 46, 453, 53, 450, 60, 426, 66, 416, 64, 412, 73, 401, 75, 399, 84, 356, 84, 334, 72, 334, 85, 317, 116, 319, 128, 302, 144, 286, 146, 285, 153, 294, 166, 294, 171, 306, 172, 306, 198, 322, 209, 320, 215, 323, 217, 319, 232, 320, 236, 328, 245, 348, 243, 352, 247, 359, 242, 360, 231, 367, 231, 380, 234, 391, 219, 390, 209, 387, 204, 406, 195, 414, 201, 423, 196, 425, 191, 432, 191, 440, 197, 451, 190, 454, 182, 465, 199, 479, 197, 484, 200, 483, 192, 489, 188, 475, 177, 509, 166, 510, 158, 520, 155, 539, 152" href="/causeway-coast-and-glens-pcsp" alt="Causeway Coast and Glens">
  </map>
</div>

