/*
 * @file
 * Provides the layout styles for content output consumer information on the homepage.
 */
@import "../../init/index";

#block-consumerinformationhome {
  background: #78cbbf;
  padding: 2rem;
  margin-bottom: 2rem;

  @include breakpoint($tab) {
    background: #78cbbf resolve('customer-info.png') right center no-repeat;
    background-size: auto 100%;
    min-height: 270px;
  }

  h2,
  a {
    color: $white;

    &.btn {
      background: $brand-secondary;
      text-decoration: underline;
    }
  }

  h2 {
    @include breakpoint($tab) {
      font-size: 4.8rem;
      line-height: 5.4rem;
      margin: 0;
    }
  }

  .content {
    @include breakpoint($tab) {
      width: 30%;
      padding: 3rem 0 0 2rem;
    }
  }
}
