{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {% block content %}
  {{ content }}
  <div id="mailchimp-publications">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="https://eepurl.com/hIRLM5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div id="mce-responses" class="clearfix">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8c533582d91541ef3554f89ca_00e46d2394" tabindex="-1" value=""></div>
          <div class="clearfix"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button-primary form-submit"></div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
  <div id="mailchimp-wip" style="display:none;">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="https://eepurl.com/hIRLM5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">

          <div class="mc-field-group">
            <label for="mce-EMAIL" class="element-hidden">Email address </label>
            <input type="email" value="" name="EMAIL" class="required email" placeholder="Please enter your email" id="mce-EMAIL">
          </div>
          <div id="mce-responses" class="clearfix">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8c533582d91541ef3554f89ca_4fa5627814" tabindex="-1" value=""></div>
          <div class="clearfix"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button-primary form-submit"></div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
{% endblock %}
</div>
