/*
 * @file
 * Defines the layout code for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/2_layout/index';

.container-wrap {
  @media screen and (max-width: $lap) {
    margin: 0 1rem;
  }
}

.front {
  .sidebar-second-layout {
    width: 35%;
  }
}

.top_left {
  min-height: 110px;

  @media screen and (max-width: $mob) {
    min-height: 80px;
  }
}

#headerHero {
  @media screen and (max-width: $tab) {
    background-color: $brand-secondary;
  }
}

#footer {
  max-width: 100%;

  .footer-area {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 1rem;

    .column {
      float: none;
      width: unset;
      flex-basis: 33%;
      flex-grow: 1;

      &:first-child {
        padding-left: 0;
        margin-left: 0;
      }
    }

    h2 {
      @include responsive-typo-map($h2-text);
      color: $headings;
      margin-top: 0;
    }
  }
}

