/*
 * @file
 * Defines the layout code for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/2_layout/index';

.front {
  .content-sidebar-wrap {
    width: 100%;

    .main-content {
      max-width: 700px;
      float: left;
    }
  }

  #bottom-area {
    @include breakpoint($tab) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4rem;
    }

    .column {
      width: auto;
      float: none;

      @include breakpoint($tab) {
        flex-basis: 46%;
      }
    }
  }
}

body:not(.front) {
  #container {
    @media screen and (max-width: $lap) {
      padding: 0 1rem;
    }
  }
}
