# The name given to the MariaDB service (lowercase alphanumeric only).
db:
  # The type of your service (mariadb), which uses the format
  # 'type:version'. Be sure to consult the MariaDB documentation
  # (https://docs.platform.sh/configuration/services/mysql.html#supported-versions)
  # when choosing a version. If you specify a version number which is not available,
  # the CLI will return an error.
  type: mariadb:10.4
  # The disk attribute is the size of the persistent disk (in MB) allocated to the service.
  disk: 32768
  configuration:
    schemas:
      - fictcommissiondb
      - liofadb
      - uregnidb
      - odscnidb
      - attorneygeneralnidb
      - employmenttribunalsnidb
      - hatecrimereviewnidb
      - fiscalcommissionnidb
      - nifiscalcouncildb
    endpoints:
      fictcommission:
        default_schema: fictcommissiondb
        privileges:
          fictcommissiondb: admin
      uregni:
        default_schema: uregnidb
        privileges:
          uregnidb: admin
      liofa:
        default_schema: liofadb
        privileges:
          liofadb: admin
      odscni:
        default_schema: odscnidb
        privileges:
          odscnidb: admin
      attorneygeneralni:
        default_schema: attorneygeneralnidb
        privileges:
          attorneygeneralnidb: admin
      employmenttribunalsni:
        default_schema: employmenttribunalsnidb
        privileges:
          employmenttribunalsnidb: admin
      hatecrimereviewni:
        default_schema: hatecrimereviewnidb
        privileges:
          hatecrimereviewnidb: admin
      fiscalcommissionni:
        default_schema: fiscalcommissionnidb
        privileges:
          fiscalcommissionnidb: admin
      nifiscalcouncil:
        default_schema: nifiscalcouncildb
        privileges:
          nifiscalcouncildb: admin

# Fudging the service name forces a full rebuild with any new config.
solr:
  type: solr:7.7
  disk: 1024
  configuration:
    cores:
      uregni_index:
        conf_dir: !archive "solr_config/"
#     fictcommission_index:
#       conf_dir: !archive "solr_config/"
    endpoints:
      uregni:
        core: uregni_index
#     fictcommission:
#       core: fictcommission_index


redis:
  type: redis:6.0
