/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#logo {
  img {
    height: 120px;
  }
}

#headerHero {
  @media screen and (max-width: $tab) {
    background: $brand-primary;
  }
}

#main-menu {
  .menu-link,
  .menu-item .active {
    color: $brand-secondary;

    &:hover {
      background-color: $brand-tertiary;
      color: #fff;
      border-bottom-color: $brand-secondary;
    }

    &:focus {
      background-color: #fae029;
      border-bottom-color: $black;
      color: $black;
    }
  }

  .menu {
    .menu-item {
      border-right: 1px solid #fff;

      @media screen and (max-width: $tab) {
        border-right: none;
      }

      &:last-child {
        border-right: 0;
      }

      .active {
        background: $brand-tertiary;
        border-bottom-color: $brand-secondary;
        color: #fff;
      }

      &.open {
        .menu-toggle-btn {
          color: $brand-secondary;
          font-weight: normal;
        }
      }
    }
  }

  .menu-main_sub {
    background: $charcoal;

    .menu-item {
      @media screen and (max-width: $tab) {
        background: $charcoal;
      }
    }

    .menu-link,
    .menu-item span.active {
      @media screen and (max-width: $tab) {
        text-align: center;
      }

      &.active {
        background: $brand-tertiary;
        font-weight: normal;
      }
    }
  }
}

#footer {
  padding: 2rem 0 0;

  .footer-menu {
    ul {
      @media screen and (max-width: $mob) {
        list-style-type: none;
      }
    }

    li {
      padding-left: 0;
      font-size: 1.6rem;

      @include breakpoint($mob) {
        display: inline-block;
        padding: 0 .8rem 0 0;
        line-height: 1.8rem;
        margin-right: .5rem;
      }

      a {
        @media screen and (min-width: $mob) {
          display: block;
        }
      }
    }
  }
}

#block-sidemenu-2 {
  background: $offwhite;
  border-top: 5px solid $charcoal;
  padding: 1rem;

  @include breakpoint($lap) {
    margin-top: 2rem;
  }

  h2 {
    @include responsive-typo-map($h2-text);
    margin: .5rem 0 1rem;
    padding: 0;
  }
}


#footer-area {
  padding-bottom: 2rem;

  .column {
    .block {
      h2,
      p {
        color: $text;
      }
    }

    li {
      border: none;
    }

    .social-icons {
      margin: 3rem 0 2rem;
    }
  }
}

.node-type-publication {
  .published-date {
    font-weight: bold;
  }
}

.footer_credit {
  border-top: 1px solid $grey;

  .region-footer {
    margin: 2% auto;
  }

  ul {
    padding: 1rem;

    @include breakpoint($tab) {
      padding: 0;
    }
  }
}

#footer {
  .container-wrap {
    max-width: 1024px;
  }
}
