/*
 * @file
 * Defines the layout code for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/2_layout/index';

.no-sidebars.front .content-sidebar-wrap {
  width: 100%;
}

.content-sidebar-wrap {
  padding: 0 1rem;
}

.front {
  .container-wrap {
    margin-bottom: 0;
  }
}

.path-node {
  .main-content {
    float: none;
  }
}

#header {
  margin: 5px auto;

  @media screen and (max-width: $tab) {
    margin-bottom: 0;
  }

  .top_left {
    min-height: 135px;
  }
}

.dialog-off-canvas-main-canvas {
  .region-slideshow {
    max-width: $max-grid-width;
  }
}

#bottom_wrapper {
  max-width: $max-grid-width;
  margin: 0 auto;
}

#footer_wrapper {
  @media screen and (max-width: $tab) {
    padding: 0 1rem;
  }

  #footer-area {
    gap: 50px;

    @include breakpoint($tab) {
      display: flex;
    }

    .column {
      float: none;
      width: auto;
      padding: 0;
      margin: 0;

      //@include breakpoint($tab) {
      //  width: 40%;
      //}
    }
  }
}

