/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

.content {
  ul {
    li {
      list-style: none;
      position: relative;

      &::before {
        content: "-";
        position: absolute;
        left: -20px;
        top: 0;
      }
    }
  }
}

.region-content {
  .content {
    padding-bottom: 40px;
  }
}

.toc-menu {
  border-color: #ccc;
}

.breadcrumb {
  padding: 0;
}

#main-menu {
  .menu-item {
    flex-grow: 0;

    .menu-link {
      padding: 1.1rem 2rem .4rem;
    }
  }
}

#footer-menu {
  .menu {
    list-style: none;

    @media screen and (max-width: $mob) {
      text-align: center;
    }

    .menu-item {
      display: inline-block;
      padding: 0 .8rem 0 0;
      margin-right: .5rem;
    }
  }
}

.content .media-image-embed {
  clear: right;
  float: right;
  width: 48%;
  margin: 2.1rem 0 0 2.7rem;
  max-width: 670px;
}

.image-caption {
  margin-bottom: 1.8rem;
  color: $headings;
}
