/*
 * @file
 * Defines the layout code for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/2_layout/index';

.container-wrap {
  @media screen and (max-width: $lap) {
    margin: 0 1rem;
  }
}

.front {
  .container-wrap {
    padding: 0 1rem;

    .main-content {
      margin-top: 0;
    }
  }

  .sidebar-second-layout {
    @include breakpoint($lap) {
      margin-top: 10rem;
    }

    @media screen and (max-width: $lap) {
      float: right;
    }
  }
}

#logo {
  margin-top: 1.5rem;
  width: 100%;
  padding-left: 2.5rem;

  @media screen and (max-width: $tab) {
    padding: 0 1rem;
  }

  img {
    height: 80px;
  }
}

.top_left {
  min-height: 105px;
}

#footer {
  max-width: unset;

  .footer-area {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 1rem;

    .column {
      float: none;
      width: unset;
      flex-basis: 33%;
      flex-grow: 1;

      &:first-child {
        padding-left: 0;
        margin-left: 0;
      }
    }

    h2 {
      @include responsive-typo-map($h2-text);
      color: $headings;
      margin-top: 0;
    }
  }
}

.path-node.node-type-basic-page {
  #container {
    .container-wrap {
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $lap) {
        margin: 0 1rem;
        display: block;
      }
    }

    .content-sidebar-wrap {
      @media screen and (max-width: $lap) {
        width: 100%;
      }
    }

    .sidebar-second-layout {
      position: relative;
      overflow: hidden;
      padding: 1rem;
      margin-top: 0;

      @media screen and (max-width: $lap) {
        background: none;
        width: 0;
      }
    }
  }
}

.path-node.node-type-basic-page {
  #container {
    .container-wrap {
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $lap) {
        margin: 0 1rem;
        display: block;
      }
    }

    .content-sidebar-wrap {
      @media screen and (max-width: $lap) {
        width: 100%;
      }
    }

    .sidebar-second-layout {
      position: relative;
      overflow: hidden;
      padding: 1rem;
      margin-top: 0;

      @media screen and (max-width: $lap) {
        background: none;
        width: 0;
      }
    }
  }
}
