/*
 * @file
 * Provides very specific styling for uregni theme.
 */
/* Vertical rhythm presets =========================================== */
/* Breakpoints ======================================================== */
/* line 25, src/scss/theme.scss */
.node-type-consultation .summary {
  background: #f3f3f3;
}

@media (min-width: 766px) {
  /* line 25, src/scss/theme.scss */
  .node-type-consultation .summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* line 32, src/scss/theme.scss */
.node-type-consultation .summary .consultation-dates {
  padding: 1.2rem;
}

@media (min-width: 766px) {
  /* line 32, src/scss/theme.scss */
  .node-type-consultation .summary .consultation-dates {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
  }
}

/* line 39, src/scss/theme.scss */
.node-type-consultation .summary .field-summary {
  padding: 1.2rem;
}

/* line 42, src/scss/theme.scss */
.node-type-consultation .summary .field-summary h2 {
  margin-top: 0;
}

@media (min-width: 766px) {
  /* line 56, src/scss/theme.scss */
  .home-latest-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  /* line 61, src/scss/theme.scss */
  .home-latest-news .field-photo {
    float: none;
    max-width: 100%;
    margin: 0;
  }
  /* line 67, src/scss/theme.scss */
  .home-latest-news .views-row {
    -ms-flex-preferred-size: 31.5%;
    flex-basis: 31.5%;
  }
}

/* line 72, src/scss/theme.scss */
.home-latest-news article {
  clear: right;
}

@media (min-width: 766px) {
  /* line 76, src/scss/theme.scss */
  .home-latest-news h3 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

/* line 81, src/scss/theme.scss */
.home-latest-news h3 a {
  text-decoration: underline;
}

/* line 88, src/scss/theme.scss */
.search-page #sidebar-first {
  padding-left: 0;
}

@media (min-width: 961px) {
  /* line 93, src/scss/theme.scss */
  .search-page #sidebar-first {
    width: 30%;
  }
  /* line 97, src/scss/theme.scss */
  .search-page #content {
    width: 65%;
  }
}

/* line 116, src/scss/theme.scss */
.search-page .views-exposed-form {
  background: #f6f6f6;
  -webkit-box-shadow: 0 0 1px inset #333;
  box-shadow: 0 0 1px inset #333;
  padding: 1rem 0;
}

/* line 121, src/scss/theme.scss */
.search-page .views-exposed-form label {
  font-weight: bold;
}

/* line 126, src/scss/theme.scss */
.search-page .form-item {
  margin-bottom: 0;
}

/* line 131, src/scss/theme.scss */
.search-page input.form-text {
  max-width: 100%;
}

/* line 136, src/scss/theme.scss */
.search-page h2 {
  margin-top: 0;
}

/* line 141, src/scss/theme.scss */
.board-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

@media (min-width: 440px) {
  /* line 141, src/scss/theme.scss */
  .board-members {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

/* line 150, src/scss/theme.scss */
.board-members .views-row {
  background: #e4e4e4;
  margin-bottom: 2%;
  padding: 1rem;
}

@media (min-width: 440px) {
  /* line 150, src/scss/theme.scss */
  .board-members .views-row {
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
  }
}

/* line 160, src/scss/theme.scss */
.board-members h3 {
  margin-top: 0;
  padding-top: 3rem;
}

/*# sourceMappingURL=theme.css.map */