/*
 * @file
 * Provides very specific styling for uregni theme.
 */
/* Vertical rhythm presets =========================================== */
/* Breakpoints ======================================================== */
/* line 25, src/scss/theme.scss */
.node-type-consultation .summary {
  background: #f3f3f3;
  margin-bottom: 2.4rem;
}

@media (min-width: 766px) {
  /* line 25, src/scss/theme.scss */
  .node-type-consultation .summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* line 33, src/scss/theme.scss */
.node-type-consultation .summary .consultation-dates {
  padding: 1.2rem;
}

@media (min-width: 766px) {
  /* line 33, src/scss/theme.scss */
  .node-type-consultation .summary .consultation-dates {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
  }
}

/* line 40, src/scss/theme.scss */
.node-type-consultation .summary .field-summary {
  padding: 1.2rem;
}

/* line 43, src/scss/theme.scss */
.node-type-consultation .summary .field-summary h2 {
  margin-top: 0;
}

@media (min-width: 766px) {
  /* line 57, src/scss/theme.scss */
  .home-latest-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  /* line 62, src/scss/theme.scss */
  .home-latest-news .field-photo {
    float: none;
    max-width: 100%;
    margin: 0;
  }
  /* line 68, src/scss/theme.scss */
  .home-latest-news .views-row {
    -ms-flex-preferred-size: 31.5%;
    flex-basis: 31.5%;
  }
}

/* line 73, src/scss/theme.scss */
.home-latest-news article {
  clear: right;
}

@media (min-width: 766px) {
  /* line 77, src/scss/theme.scss */
  .home-latest-news h3 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

/* line 82, src/scss/theme.scss */
.home-latest-news h3 a {
  text-decoration: underline;
}

/* line 92, src/scss/theme.scss */
.path-consultations .search-page #sidebar-first,
.path-news .search-page #sidebar-first,
.path-publications .search-page #sidebar-first {
  padding-left: 0;
}

@media (min-width: 961px) {
  /* line 97, src/scss/theme.scss */
  .path-consultations .search-page #sidebar-first,
  .path-news .search-page #sidebar-first,
  .path-publications .search-page #sidebar-first {
    width: 30%;
  }
  /* line 101, src/scss/theme.scss */
  .path-consultations .search-page #content,
  .path-news .search-page #content,
  .path-publications .search-page #content {
    width: 65%;
  }
}

/* line 108, src/scss/theme.scss */
.path-consultations .search-page .views-row,
.path-news .search-page .views-row,
.path-publications .search-page .views-row {
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 1.5rem;
}

/* line 112, src/scss/theme.scss */
.path-consultations .search-page .views-row:last-child,
.path-news .search-page .views-row:last-child,
.path-publications .search-page .views-row:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 1em;
}

/* line 118, src/scss/theme.scss */
.path-consultations .search-page .views-row p,
.path-news .search-page .views-row p,
.path-publications .search-page .views-row p {
  margin-bottom: 0;
}

/* line 123, src/scss/theme.scss */
.path-consultations .search-page .views-exposed-form,
.path-news .search-page .views-exposed-form,
.path-publications .search-page .views-exposed-form {
  background: #f6f6f6;
  -webkit-box-shadow: 0 0 1px inset #333;
  box-shadow: 0 0 1px inset #333;
  padding: 1rem 0;
}

/* line 128, src/scss/theme.scss */
.path-consultations .search-page .views-exposed-form label,
.path-news .search-page .views-exposed-form label,
.path-publications .search-page .views-exposed-form label {
  font-weight: bold;
}

/* line 133, src/scss/theme.scss */
.path-consultations .search-page .form-item,
.path-news .search-page .form-item,
.path-publications .search-page .form-item {
  margin-bottom: 0;
}

/* line 138, src/scss/theme.scss */
.path-consultations .search-page input.form-text,
.path-news .search-page input.form-text,
.path-publications .search-page input.form-text {
  max-width: 100%;
}

/* line 143, src/scss/theme.scss */
.path-consultations .search-page h2,
.path-news .search-page h2,
.path-publications .search-page h2 {
  margin-top: 0;
}

/* line 147, src/scss/theme.scss */
.path-consultations .search-page .metaListItem,
.path-news .search-page .metaListItem,
.path-publications .search-page .metaListItem {
  margin-left: 2rem;
}

/* line 153, src/scss/theme.scss */
.board-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

@media (min-width: 440px) {
  /* line 153, src/scss/theme.scss */
  .board-members {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

/* line 162, src/scss/theme.scss */
.board-members .views-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e4e4e4;
  margin-bottom: 2%;
  padding: 1rem;
}

@media (min-width: 440px) {
  /* line 162, src/scss/theme.scss */
  .board-members .views-row {
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
  }
}

/* line 172, src/scss/theme.scss */
.board-members .views-row .group-left {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}

/* line 176, src/scss/theme.scss */
.board-members .views-row .group-right {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
}

/* line 181, src/scss/theme.scss */
.board-members h3 {
  margin-top: 0;
  padding-top: 3rem;
}

/* line 187, src/scss/theme.scss */
.vacancy--view-row {
  margin: 2.4rem 0 3.9rem;
}

/*# sourceMappingURL=theme.css.map */