/*
 * @file
 * Provides very specific styling for entities / content types.
 */
@import '../init/index';

/*
 * Consultation content type
 * Styling for the summary section
 */

.node-type-consultation {
  .summary {
    background: #f3f3f3;

    @include breakpoint($tab) {
      display: flex;
    }

    .consultation-dates {
      padding: 1.2rem;
      @include breakpoint($tab) {
        flex-basis: 33.33%;
      }
    }

    .field-summary {
      padding: 1.2rem;

      h2 {
        margin-top: 0;
      }
    }
  }
}
