/*
 * @file
 * Provides the layout styles for content output for views.
 */
@import '../init/index';

.home-latest-news {
  @include breakpoint($tab) {
    display: flex;
    justify-content: space-between;

    .field-photo {
      float: none;
      max-width: 100%;
      margin: 0;
    }

    .views-row {
      flex-basis: 31.5%;
    }
  }

  article {
    clear: right;
  }

  h3 {
    @include breakpoint($tab) {
      @include adjust-font-size-to(16px, 4);
    }

    a {
      text-decoration: underline;
    }
  }
}

.search-page {
  #sidebar-first {
    padding-left: 0;
  }

  @include breakpoint($lap) {
    #sidebar-first {
        width: 30%;
      }

    #content {
      width: 65%;
    }
  }
  // Other Unity sites use border-bottom so this will maybe need applied
  // to keep all sites consistent.
  //.views-row {
  //  border-bottom: 1px solid #d3d7d9;
  //  padding-bottom: .4285em;
  //  margin-bottom: .5em;
  //
  //  &:last-child {
  //    border-bottom: 0;
  //    padding-bottom: 0;
  //    margin-bottom: 1em;
  //  }
  //}
  .views-exposed-form {
    background: $grey-light;
    box-shadow: 0 0 1px inset $charcoal;
    padding: 1rem 0;

    label {
      font-weight: bold;
    }
  }

  .form-item {
    margin-bottom: 0;
  }

  input {
    &.form-text {
      max-width: 100%;
    }
  }

  h2 {
    margin-top: 0;
  }
}

.board-members {
  display: flex;
  flex-flow: column;

  @include breakpoint($mob) {
    flex-flow: wrap;
    justify-content: space-between;
  }

  .views-row {
    background: #e4e4e4;
    margin-bottom: 2%;
    padding: 1rem;

    @include breakpoint($mob) {
      flex-basis: 49%;
    }
  }

  h3 {
    margin-top: 0;
    padding-top: 3rem;
  }
}
