/*
 * @file
 * Defines the layout code for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/2_layout/index';

.container-wrap {
  margin: 0 1rem;
  
  @include breakpoint($lap) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}
