/*
 * @file
 * Provides the layout styles for content in the bottom wrapper region of the home page.
 */
@import "../../init/index";

#footer {
  .column {
    @include breakpoint($tab) {
      width: 32.5%;
    }

    li {
      border: none;
    }
  }

  address {
    color: $white;
    font-style: normal;
    margin-bottom: 2.4rem;
  }

  a {
    color: $white;
  }

  .footer-menu {
    margin: 4% auto;

    li {
      @include breakpoint($mob) {
        display: inline-block;
        padding: 0 .8rem 0 0;
        line-height: 1.8rem;
        border-right: 1px solid #fff;
        margin-right: .5rem;

        &:last-child {
          border-right: none;
        }
      }

      a.is-active {
        text-decoration: none;
      }
    }
  }
}
