/*
 * @file
 * Provides the layout styles for content in regions of the home page.
 */
@import "../../init/index";

#bottom_wrapper {
  h2 {
    font-size: 2.1rem;
    line-height: 3rem;
  }

  .btn {
    text-decoration: underline;
  }

  .energy {
    .column {
      &:first-child {
        h2 i,
        .btn {
          background: #cc4630;
        }
      }
      &:nth-child(2) {
        h2 i,
        .btn {
          background: #8561af;
        }
      }
      &:last-child {
        h2 i,
        .btn {
          background: #0a7ad0;
        }
      }
    }
  }

  .bottom-row {
    border-top: 4px solid #686868;

    .column {
      @include breakpoint($tab) {
        width: 49%;
      }

      &:first-child {
        padding: 2rem 0;
      }

      &:last-child {
        background: #f3f3f3;

        @include breakpoint($tab) {
          padding: 2rem;
        }
      }
    }
  }
}

#footer {
  @media screen and (max-width: $tab) {
    padding-left: 1rem;

    .column {
      padding-left: 0;
    }
  }
}

.footer-area {
  .column,
  .column:first-child {
    @media screen and (max-width: $lap) {
      margin: 0;
    }
  }
}
