/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

.search-result {
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 1.5rem;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 0;
  }
}
