/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

@mixin submit-button {
  background: $brand-primary none;
  min-width: 13rem;
  @include responsive-typo-map($normal-text);
  border: 3px solid transparent;
  color: #fff;
  font-weight: normal;
  text-shadow: none;
  text-decoration: underline;
  text-underline-offset: .25em;
  box-shadow: none;
  margin: 1rem 0 0;
  text-align: center;
  padding: .6rem 1.6rem;
  cursor: pointer;
  border-radius: 0;

  &:hover,
  &:focus {
    background: $ash-grey;
    outline: none;
    text-decoration: underline;
    opacity: 1;
  }

  &:focus {
    border-color: $black;
  }
}

#block-sidemenu {
  ul {
    border: 1px solid #ccc;
    margin: .5rem 0;
    list-style: none;

    li {
      border-bottom: 1px solid #ccc;
      margin: 0;
      padding: 0;

      &:last-child {
        border-bottom: none;
      }

      span.link__self {
        background: $link-hover-background;
        border-bottom: 4px solid #333;
        color: #333;
        display: block;
        padding: 1rem 1.5rem .6rem;
      }

      a {
        border-bottom: 4px solid transparent;
        color: #555;
        //text-decoration: underline;
        display: block;
        padding: 1rem 1.5rem .6rem;

        &:hover,
        &:focus {
          background: #ccc;
          color: #333;
          outline: 1px solid;
        }
      }

      ul {
        border: none;

        li {
          padding-left: 1rem;

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

.search-result {
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 1.5rem;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 0;
  }
}

.webform-submission-form {
    input::placeholder,
    textarea::placeholder {
      opacity: 1;
      color: #333;
    }

  input[type="submit"] {
    @include submit-button;
  }
}

.block-views-blocklatest-news-news-latest-news {
  margin-bottom: 2rem;

  h2 {
    margin-bottom: 0;
  }

  ul {
    margin: 0 1.6rem;

    li {
      .meta {
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin: .6rem 0 0;
      }
    }
  }

  a {
    border-bottom: 1px solid $link;

    &:hover {
      border-bottom: 2px solid $link-underline;
      margin-bottom: 0;
    }

    &:focus {
      border-bottom: none;
      outline: 2px solid $link;
      outline-offset: 0;
    }
  }
}

.sidebar-second-layout {
  position: relative;
  overflow: hidden;
  background: #f2f2f2;
  padding: 1rem;
  margin-top: 0;
}

#footer {
  @media screen and (max-width: $tab) {
    padding-left: 1rem;
  }

  .block > h2 {
    color: $text;
  }

  .footer_credit {
    .footer-menu {
      margin: 4% auto;

      li {
        padding-left: 0;

        @include breakpoint($mob) {
          display: inline-block;
          padding: 0 .8rem 0 0;
          line-height: 1.8rem;
          margin-right: .5rem;
        }
      }
    }
  }

  #footer-content {
    .social-icons a {
      border-bottom: none;
    }
  }
}

#footer-content {
  display: flex;
  flex-flow: column;
  margin-bottom: 2rem;

  @include breakpoint($phab) {
    flex-flow: wrap;
  }

  .column {
    flex-basis: 33%;
    padding-left: 2%;

    li {
      border: none;
    }
  }
}

#block-footersubscription {
  h2 {
    @include adjust-font-size-to(24px);
    margin: .5rem 0 1.5rem;
    padding: 1rem 0;
  }

  label {
    display: inline;
  }

  input {
    &::placeholder {
      opacity: 1;
    }

    &[type="email"] {
      &:focus {
        outline: 3px solid #fae029;
        outline-offset: -2px;
        position: relative;
        z-index: 101;
      }
    }

    &[type="submit"] {
      @include submit-button;
      padding: .3rem .6rem;
    }
  }
}

#footer #footer-menu .menu li.menu-item a {
  @include adjust-font-size-to(14px);
  margin: 0;
}

#block-footercontactinformation {
  .social-icons {
    margin-top: 2.4rem;

    ul {
      display: flex;
    }

    li {
      padding-right: .5rem;
    }

    a {
      border-bottom: none;
      color: $text;

      &:hover,
      &:focus {
        outline: 0;
        background: none;

        i {
          background: $text;
          color: $footer-background;
        }
      }
    }

    i {
      font-size: 2.4rem;
      border: 1px solid;
      padding: .5rem .7rem;
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      line-height: 3rem;
    }
  }
}

#slick-views-slideshow-slideshow-1 .slide__caption a {
  border-bottom: none;
  margin: 0;
}
