/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#block-sidemenu {
  ul {
    border: 1px solid #ccc;
    margin: .5rem 0;
    list-style: none;

    li {
      border-bottom: 1px solid #ccc;
      margin: 0;
      padding: 0;

      &:last-child {
        border-bottom: none;
      }

      span.link__self {
        background: $link-hover-background;
        border-bottom: 4px solid #333;
        color: #333;
        display: block;
        padding: 1rem 1.5rem .6rem;
      }

      a {
        border-bottom: 4px solid transparent;
        color: #555;
        //text-decoration: underline;
        display: block;
        padding: 1rem 1.5rem .6rem;

        &:hover,
        &:focus {
          background: #ccc;
          color: #333;
          outline: 1px solid;
        }
      }

      ul {
        border: none;

        li {
          padding-left: 1rem;

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
