/*
 * @file
 * Defines the layout code for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/2_layout/index';

#headerHero {
  @media screen and (max-width: $tab) {
    background-color: $brand-primary;
    margin-top: 2rem;
  }
}

#logo {
  margin-top: 1.6rem;

  img {
    height: 80px;
  }

  a {
    display: block;

    &:focus {
      background: none;
      border-bottom: none;
      outline: 0.3rem dashed #949494;
      outline-offset: 1.2rem;
    }
  }
}

.container-wrap {
  @include breakpoint($lap) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.path-news,
.path-publications {
  .search-page {
    .sidebar-first-layout {
      padding-left: 0;
    }

    @include breakpoint($lap) {
      .sidebar-first-layout {
        width: 30%;
      }

      .main-content {
        width: 65%;
      }
    }

    .views-exposed-form {
      p {
        margin-bottom: 0;
      }
    }

    h2 {
      margin-top: 0;
    }

    .metaListItem {
      margin-left: 2rem;
    }
  }
}

.views-exposed-form {
  p {
    margin-bottom: 0;
  }

  .form-item {
    margin-bottom: 0;
  }

  form {
    .form-actions {
      padding-top: .95rem;
    }

    input {
      &.form-text {
        max-width: 100%;
        border: 1px solid $grey-dark;
      }
    }
  }
}

#top-area {
  text-align: left;
  margin: 2rem auto;

  @include breakpoint($tab) {
    display: flex;
  }

  .column {
    background: $grey-light;
    padding: 2rem;

    &:last-child {
      h2 {
        margin-bottom: 2.4rem;
      }
    }

    @include breakpoint($lap) {
      width: 32.6%;
    }

    h2 {
      @include adjust-font-size-to(30px);
      text-align: center;
      color: $text;
    }

    .item {
      list-style: none;
      padding: 2.3rem 0 .5rem 0;
      border-bottom: 1px solid $grey-dark;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.block-block-content {
  h3 {
    margin-top: 0;
  }

  ul {
    margin: 0;
    list-style: none;

    li {
      padding: .5rem 0 1.5rem;
      border-bottom: 1px solid $grey-dark;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
